@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.container-fluid {
    max-width: 364px;
    max-height: 100%;
    cursor: pointer;
}

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
        0.3s box-shadow,
        0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    border: 0;
    border-radius: 1rem;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
    display: flex;
}

.card h5 {
    overflow: hidden;
    font-weight: 300;
    font-size: 1rem;
    margin: 16px;
    display: flex;
}

.card h5 {
    color: black;
    text-decoration: none;
}

.imagen img {
    width: 100%;
    min-height: 250px;
    max-height: 340px;
}

.imagen {
    object-fit: contain;
    position: relative;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/* Centered text */
.label-top {
    position: absolute;
    background-color: var(--label-index);
    color: #fff;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}

.card-talle p {
    display: flex;
    color: #470668;
    margin: 0px 16px;
}

.card-talle ul {
    display: flex;
    margin: 5px;
}

.card-talle ul p {
    margin-right: 16px;
    background-color: #D3B2E3;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}

.card-color ul {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.card-color ul .uno {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    background-color: rgba(255, 0, 0, 0.479);
    border-radius: 100px;
    position: relative;
}

.card-color ul .dos {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    background-color: rgba(0, 0, 255, 0.514);
    border-radius: 100px;
    position: relative;
}

.card-color ul .tres {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    background-color: rgba(230, 192, 255, 0.616);
    border-radius: 100px;
    position: relative;
}

.card-color ul .cuatro {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    background-color: rgba(255, 255, 0, 0.603);
    border-radius: 100px;
    position: relative;
}

.card-color ul .cinco {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    background-color: rgba(0, 128, 0, 0.486);
    border-radius: 100px;
    position: relative;
}

.card-color p {
    display: flex;
    color: #470668;
    margin: 0px 16px;
}

.card-price {
    width: 100%;
    margin: 16px;
    color: #00D7C8;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.card-boton {
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
}

.card-boton p {
    width: 30%;
    background-color: #D3B2E3;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}

.card-boton p:hover {
    color: #D3B2E3;
    background-color: #470668;
}

.categoria p {
    margin: 5px 10px;
    position: absolute;
    bottom: 0;
}

.corazon {
    margin: 16px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    color: red;
}

.card-title {
    font-size: 30px;
    color: #470668;
    text-align: center;
    font-weight: bolder;
    height: fit-content;
    margin: 5px 0px 0px 0px;
}

.card-subtitle {
    color: #470668;
    justify-content: center;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin: 16px;
}

.top-right {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #8bc34a;
    line-height: 90px;
    text-align: center;
    color: white;
}

.top-right span {
    display: inline-block;
    vertical-align: middle;
    /* line-height: normal; */
    /* padding: 0 25px; */
}

.aff-link {
    /* text-decoration: overline; */
    font-weight: 500;
}

.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
}


@media (max-width: 1025px) {
    .btn {
        padding: 5px 40px 5px 40px;
    }
}

@media (max-width: 250px) {
    .btn {
        padding: 5px 30px 5px 30px;
    }
}

/* START BUTTON */
.btn-warning {
    background: var(--btnbg);
    color: var(--btnfontcolor);
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
    border-radius: 100px;
}

.btn-warning:hover {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

.btn-check:focus+.btn-warning,
.btn-warning:focus {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

.btn-warning:active:focus {
    box-shadow: 0 0 0 0.25rem var(--btnactivefs);
}

.btn-warning:active {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

/* END BUTTON */

.bg-success {
    font-size: 1rem;
    background-color: var(--btnbg) !important;
    color: var(--btnfontcolor) !important;
}

.bg-danger {
    font-size: 1rem;
}

.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray;
}

.amz-hp {
    font-size: 0.7rem;
    font-weight: 600;
    color: darkgray;
}