.footer-section {
    color: white;
    position: relative;
    background-color: #1F2833;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    bottom: 0;
}

.footer-widget-links {
    display: grid;
    margin-right: 120px;
}

.footer-widget-text {
    height: fit-content;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-logo {
    padding: 5px;
}

.footer-cta {
    border-bottom: 4px solid #D3B2E3;
    padding-top: 5px;
}

.row {
    margin: 10px;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
    cursor: pointer;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
    cursor: pointer;
}

.footer-social-icon {
    cursor: pointer;
    display: grid;
    margin-left: 30px;
    align-content: center;
}

.footer-widget {
    margin: 30px;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    position: relative;
}

.footer-social-icon h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    position: relative;
}



.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    display: flex;
    flex-direction: inherit;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding-top: 30px;
}

.subscribe-form button {
    position: absolute;
    height: 2.3em;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.copyright-area {
    width: 93vw;
    padding-bottom: 5px;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}